{% extends "base.html" %}

{% block header %}
    {{super()}}
{% endblock%}

{% block content %}
<h1 class="display-4">{{name}}</h1>

<ul class="list-group">
{% for post in posts%}
<a class="btn btn-primary" href="/post/{{post.id}}"><li class="list-group-item btn btn-primary">
    <h4>{{post.title}}</h4> Last message: TODO</li>
</a>
{% endfor %}
</ul>

{% if session.user_id %}
<h3>Add new post</h3>
<form action="/addPost" method="POST">
    <div class="form-group">
        <label for="input1">Title</label>
        <input type="text" class="form-control" name="title" id="input1">
      </div>
    <div class="form-group">
        <label for="textarea">Type your message: </label>
        <textarea class="form-control" id="textarea" name="message" rows="3"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add post</button>
    </div>
    <input type="hidden" name="id" value="{{id}}">
</form>
{% endif %}
{% endblock %}

{% block footer%}
    {{super()}}
{% endblock %}