{% extends "base.html" %}

{% block header %}
    {{super()}}
{% endblock%}

{% block content %}
<h1 class="display-4">{{title}}</h1>

<ul class="list-group">
{% for message in messages%}
<li class="list-group-item">
    <h4>{{message.username}}</h4>{{message.content}}, Time sent: {{message.created_at}} ID: {{message.id}}
    {%if session.user_id == message.user_id %}
    <form action="/deleteMessage" method="POST">
    <button class="btn btn-danger">Del</button>
    <input type="hidden" name="id" value="{{message.id}}">
    </form>
    {% endif %}
</li>
{% endfor %}
</ul>
{% if session.user_id %}
<form action="/sendMessage" method="POST">
    <div class="form-group">
        <label for="textarea">Type your message: </label>
        <textarea class="form-control" id="textarea" name="message" rows="3"></textarea>
    </div>
    <div>
        <button class="btn btn-primary">Send message</button>
    </div>
    <input type="hidden" name="id" value="{{id}}">
</form>
{% endif %}
{% endblock %}

{% block footer%}
    {{super()}}
{% endblock %}